<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center m-5">
    <h1 class="mb-5">Members</h1>
    {% if user.is_authenticated %}
<p>Hello, {{ user.username }}!</p>
<form action="{% url 'logout' %}" method="POST" style="display: inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% else %}
<p>Please <a href="{% url 'login' %}">login</a> to continue.</p>
{% endif %}
    <a href="{% url 'member_create' %}" class="btn btn-success mb-5 ">Add Member</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td>{{ member.member_id }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.email }}</td>
                <td>
                    <a href="{% url 'member_update' member.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'member_delete' member.pk %}" class="btn btn-warning">Delete</a>
                    <a href="{% url 'view_events' member.pk %}" class="btn btn-info">View Events</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
